<!doctype html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <header>
    <div class="cityCircleReturn">
      <a id="cityReturn" class="cityReturn" href="/"><sl-icon name="arrow-left-short"></sl-icon></a>
    </div>
  </header>
  <div class="cityRectWide">
    <div class="city-container">
      <h1><%= locationData.formatted %></h1>
      <p><%= locationData.city %>, <%= locationData.country %></p>
    </div>
   
  </div>


  <div class="cityCircle">

    <div class='cwCurrentWeather'>
      <div class="cwWeatherContainer">
          <div class="cwHeader">
              <h1>Current Conditions</h1>
          </div>
          <div class="cwMain">
              <div class="cwTemperature">
                  <img src="http://openweathermap.org/img/w/<%= formattedWeatherData.currentWeatherData.icon %>.png" alt="<%= formattedWeatherData.currentWeatherData.description %>">
                  <div class="cwTempValue"><%= (formattedWeatherData.currentWeatherData.temp - 273.15).toFixed(2) %>°C</div>
                  <div class="cwFeelsLike">Feels Like: <%= (formattedWeatherData.currentWeatherData.feelsLike - 273.15).toFixed(2) %>°C</div>
              </div>
              <div class="cwDetails">
                  <p>Wind Speed: <%= formattedWeatherData.currentWeatherData.windSpeed %> MPH</p>
                  <p>Wind Degree: <%= formattedWeatherData.currentWeatherData.windDeg %></p>
                  <p>Pressure: <%= formattedWeatherData.currentWeatherData.pressure %> hPa</p>
                  <p>Humidity: <%= formattedWeatherData.currentWeatherData.humidity %> %</p>
                  <p>Visibility: <%= formattedWeatherData.currentWeatherData.visibility %> MI</p>
              </div>
          </div>
          <div class="cwFooter">
              <div>Rain: <%= formattedWeatherData.currentWeatherData.rain %> mm</div>
              <div>Clouds: <%= formattedWeatherData.currentWeatherData.clouds %> %</div>
          </div>
      </div>
  </div>

    <h4>next 5 days:</h4>
    <sl-carousel class="vertical" pagination orientation="vertical">
      <% formattedWeatherData.forecasts.forEach(forecast => { %>
        <sl-carousel-item>
          <sl-card class="card-image">
            <span><%= new Intl.DateTimeFormat('en-US', { weekday: 'short', hour: '2-digit', minute: '2-digit',hour12:false }).format(new Date(forecast.date)) %></span>
            <span><%= forecast.description %></span>
            <img slot="image" src="http://openweathermap.org/img/w/<%= forecast.icon %>.png" alt="<%= forecast.description %>">
            <span><%= (forecast.temp - 273.15).toFixed(2) %>°C</span>
          </sl-card>
        </sl-carousel-item>
      <% }) %>
    </sl-carousel>

  </div>

  <div class="cityTimeCircle">
    <sl-card class="card-image">
      <img slot="image" src="https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/sunrise.svg" alt="sunrise." />
      <p>Sunrise: <%= new Date((formattedWeatherData.sunrise + formattedWeatherData.timezone) * 1000).toLocaleTimeString() %></p>
    </sl-card>
    <sl-card class="card-image">
      <img slot="image" src="https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/sunset.svg" alt="sunrise." />
      <p>Sunset: <%= new Date((formattedWeatherData.sunset + formattedWeatherData.timezone) * 1000).toLocaleTimeString() %></p>
    </sl-card>
  </div>


  <section class="cityRectCarousel">
    <sl-carousel loop navigation pagination>
      <% imageData.forEach(image => { %>
        <sl-carousel-item>
          <img src="<%= image.url %>" alt="<%= image.alt %>">
        </sl-carousel-item>
      <% }) %>
    </sl-carousel>
  </section>


  <script src="../JS/city.js"></script>
</body>

</html>